<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/js/check.js}"></script>
</head>
<body>
<div class="content" layout:fragment="content">
    <br>
    <h4 style="text-align: center;"><b>회원가입</b></h4>
    <form id="frm" class="container" th:action="@{/user/signup}" method="post" th:object="${userCreateForm}">
        <div class="mb3">
            <label for="username" class="form-label">사용자ID</label>
            <input type="text" class="form-control" id="username" name="username" th:field="*{userId}">
        </div>
        <div class="mb3">
            <label for="password1" class="form-label">비밀번호</label>
            <input type="password" class="form-control" id="password1" name="password1" th:field="*{userPassword1}">
            <span class="text-danger" th:errors="*{userPassword1}"></span>
        </div>
        <div class="mb3">
            <label for="password2" class="form-label">비밀번호확인</label>
            <input type="password" class="form-control" id="password2" name="password2" th:field="*{userPassword2}">
        </div>
        <div class="mb3">
            <label for="email" class="form-label">이메일</label>
            <input type="email" class="form-control" id="email" name="email" th:field="*{email}">
        </div>
        <div class="mb3">
            <label for="nickname" class="form-label">닉네임</label>
            <input type="text" class="form-control" id="nickname" name="nickname" th:field="*{nickname}">
        </div>
        <br>
        <input type="submit" value="회원가입" class="btn btn-primary" onclick="check()">
        <input type="button" value="다시" class="btn btn-light" onclick="res()">
    </form>
</div>
</body>
</html>